{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="flex flex-col items-center justify-center">

    <h1> Login </h1>

    <form action="" method="post" class="flex flex-col">

        <label>E-mail</label>
        <input type="email" name="email" placeholder="Email">
        
        <label>Senha</label>
        <input type="password" name="senha" placeholder="Senha">
        
        <button type="submit">Entrar</button>

    </form>

</div>    
{% endblock %}